<mat-form-field class="w-100 my-2" appearance="outline">
  <mat-label>{{ configuracion.etiqueta }}</mat-label>
  <input matInput [id]="id" [type]="estaOculto ? 'password' : 'text'" [value]="valor" [disabled]="estaDeshabilitado"
    [placeholder]="configuracion.textoProvisional" (input)="cambioEnEntrada($event)" autocomplete="off" />
  <button mat-icon-button matSuffix (click)="estaOculto = !estaOculto" [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="estaOculto">
    <mat-icon>{{estaOculto ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-hint class="error" *ngIf="configuracion.esRequerido && configuracion.hayError">
    {{ configuracion.mensajeError }}
  </mat-hint>
</mat-form-field>